@model IEnumerable<EvidentaStudentilor.DataModel.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminarHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminarHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
