@model EvidentaStudentilor.Models.Exam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.SubjectId)                                 @* Hide fields but post them*@
            @Html.HiddenFor(model => model.ProfileId)
            @Html.HiddenFor(model => model.TeacherId)
            @Html.HiddenFor(model => model.StudyYear)
            @Html.HiddenFor(model => model.Data)
            @Html.HiddenFor(model => model.HourIn)
            @Html.HiddenFor(model => model.HourOut)
            @Html.HiddenFor(model => model.Room)
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Closed" /> @Html.DisplayNameFor(model => model.Closed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
