@model IEnumerable<EvidentaStudentilor.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudyYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name) @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Open" asp-route-id="@item.Id">Open the exam</a>|
                    <a asp-action="Edit" asp-route-id="@item.Id">Close the exam</a>
            </td>
        </tr>
}
    </tbody>
</table>
