@model IEnumerable<EvidentaStudentilor.DataModel.Exam>

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="TeacherUser" asp-action="Index" id="Exams" method="post">
<h1>Index</h1>
<fieldset>
    <label>Do you need former exams?>
    <label class="select"></label>
        <select id="IsNumber">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
    </label>
</fieldset>

<fieldset>
<table class="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudyYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name) @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Open" asp-route-id="@item.Id">Open the exam</a>|
                    <a asp-action="Edit" asp-route-id="@item.Id">Close the exam</a>
            </td>
        </tr>
}
</table>
</fieldset>
</form>


@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        function determineStorageExams() {
            var myData = { isNumber: $("#IsNumber").val() };
            $.ajax({
                url: "~/TeacherUser/StorageExams",
                type: "POST",
                data: myData,
                success: function (data) {
                    $("#table1").empty();
                        $('#table1').append('<thead><tr><th>StudyYear</th><th>Data</th><th>HourIn</th><th>HourOut</th><th>Room</th><th>Closed</th>'
                            + '<th>Profile</th><th>HourIn</th><th>Subject</th><th>Teacher</th><th></th></tr></theah><tbody>');
                    data.forEach(function (element)
                        $('#table1').append('<tr><td>' + element.StudyYear + '</td><td>' + element.Data + '</td><td>' + element.HourIn + '</td><td>' + element.HourOut 
                        + '</td><td>' + element.Room + '</td><td>' + element.Closed + '</td><td>' + element.Profile.Name + '</td><td>' + element.Subject.Name + '</td><td>' + element.Teacher.Name 
                        + '</td><td><a asp-action="Details" asp-route-id="element.Id">Details</a> |  <a asp-action="Open" asp-route-id="element.Id">Open the exam</a>|<a asp-action="Edit" asp-route-id="element.Id">Close the exam</a></td></tr>');
                    )
                    $('#table1').append('</tbody>');
                },
                error: function () {
                    $("#table1").empty();
                }
            });
        }
        $("#IsNumber").on('change', determineStorageExams);
        determineStorageExams();
    </script>
    }