@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}

<li class="nav-item">
    @if (userRole == "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Roles")'">Roles</button>
    }
</li>
<li class="nav-item">
    @if (userRole == "Secretar" || userRole == "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Users")'">Users</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Departments")'">Departments</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Profiles")'">Profiles</button>
    }
</li>
<li class="nav-item">
    @if ((userRole == "Secretar" || userRole == "Teacher") && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Students")'">Students</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Teachers")'">Teachers</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Curricula")'">Curricula</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Schedules")'">Schedules</button>
    }
</li>
<li class="nav-item">
    @if (userRole == "Secretar")
    {
        <button onclick="location.href='@Url.Action("Index", "Subjects")'">Subjects</button>
    }
</li>
<li class="nav-item">
    @if (userRole != null && userRole != "Administrator")
    {
        <button onclick="location.href='@Url.Action("Index", "Exams")'">Exams</button>
    }
</li>
<li class="nav-item">
    @if (userRole == "Student")
    {
        <button onclick="location.href='@Url.Action("Index", "StudentUser")'">StudentUser</button>
    }
</li>
<li class="nav-item">
    @if (userRole == "Teacher")
    {
        <button onclick="location.href='@Url.Action("Index", "TeacherUser")'">TeacherUser</button>
    }
</li>