
@{
    ViewData["Title"] = "Index";
}
<h2>User profile page</h2>
<p></p><p></p><p></p>

<form method="post" enctype="multipart/form-data" asp-controller="UserProfilePage" asp-action="Index">
<div class="row">
    <div class="columnUserProfile">
        <div> Name: @Html.ViewBag.UserEntireName</div><p></p>
        <div> Email: @Html.ViewBag.UserEmail</div><p></p>
        <div> Role: @Html.ViewBag.UserRole</div><p></p>
        <div> Profile/Department: @Html.ViewBag.UserProfile</div>
    </div>
    <div class="columnUserProfile">
        <img src="~/userPictures/@Html.ViewBag.UserPicture" width="350px" height="350px">
    </div>
    <div class="columnUserProfile">
        <input type="file" name="file" value="Choose a profile picture" />
        <input type="submit" value="Upload the picture" />
        <span>@Html.ViewBag.Message</span>
    </div>
</div>
</form>
